# **Notebook for analysing our and enemy games**

In [5]:
from src import *

# **Example 0:  download data for our games with fixed submission id**


Algorithm has 3 steps:
1. Get info with played episodes, teams info and teams submissions using curl request.
2. Parse data and save information to files. If information is already exists script will add only new data to existing files.
3. The base data is ready, than we download replays (curl request) for new games and create extended dataframe with different params for furute analysing.

You can separate submissions  data in different files using param `player_name` . If param is default all requests will be concantenated and written to 1 file.

In [2]:
cookie = ''

In [51]:
# run this ceil if you don't have automated data updating
# first run can take about 10 - 15 minutes
submission_ids = [42855126, 42855464]
player_name = 'my'

new_episodes = []
for submission_id in submission_ids:
    episodes = request_episodes_list(submission_id)
    update_teams(episodes, player_name)
    new_episodes = list(update_episodes_list(episodes, submission_id, player_name) + new_episodes)
print(new_episodes)

[]

In [52]:
%run -i src.py
update_episodes_extended(new_episodes, player_name, cookie)

episodes for retry:  []

In [47]:
# df with information about known players submissions, file teams_{}.csv
player_name = 'my'
teams = get_teams(player_name)
#teams[(teams['team_name'] == 'Frog Parade') | (teams['team_name'] == 'aDg4b')]
teams[:2]

     team_name  submission_id           submission_date   team_id
0  A.Ishibashi       41939313  2024-12-19T03:53:36.210Z  13082131
1  A.Ishibashi       41939312  2024-12-19T03:53:29.810Z  13082131

In [34]:
# df with short information about played episodes,  file episodes_list_{}.csv
player_name = 'my'
episodes_list = get_episodes_list(player_name)
episodes_list[:2]

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id
0,67844567,42855126,Flat Neurons,4,1,0,42855126,Flat Neurons,0,1
1,67846778,41745640,Gitanshu Vaghasiya,0,5,1,42855126,Flat Neurons,0,1

In [18]:
# df with full information about episodes, file episodes_extended_{}.csv
player_name = 'my'
episodes_extended = get_episodes_extended(player_name)
episodes_extended[:2]

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id,...,nebula_tile_drift_speed,nebula_tile_energy_reduction,nebula_tile_vision_reduction,unit_energy_void_factor,unit_move_cost,unit_sap_cost,unit_sap_dropoff_factor,unit_sap_range,unit_sensor_range,is_strong
0,67844567,42855126,Flat Neurons,4,1,0,42855126,Flat Neurons,0,1,...,-0.050,2,4,0.125,4,46,0.5,4,1,0.0
1,67846778,41745640,Gitanshu Vaghasiya,0,5,1,42855126,Flat Neurons,0,1,...,0.025,1,5,0.125,3,32,0.5,3,4,0.0

# **Example 1: analyse our games**

**winrate with frog games grouped_by enemy model**

In [35]:
player_name = 'my'
episodes_extended = get_episodes_extended(player_name)

df = episodes_extended
#df = episodes_extended[(episodes_extended['enemy_name'] == 'Frog Parade') | (episodes_extended['enemy_name'] == 'aDg4b')]
grouped = df.groupby(['enemy_name','enemy_submission_id', 'main_submission_id', 'is_strong'])['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped

                                                                                sum  \
enemy_name                    enemy_submission_id main_submission_id is_strong
A.Ishibashi                   41939312            42855464           0.0          1
Flat Neurons                  42855126            42855126           0.0          0
                              42855464            42855464           0.0          1
GUOHAOYANG                    42651535            42855126           0.0          1
Gitanshu Vaghasiya            41745640            42855126           0.0          1
MonsterAgent                  42814989            42855126           0.0          1
Nicole                        42789445            42855464           0.0          1
SAND                          42855349            42855126           1.0          1
Stephen Murphy                41865510            42855464           0.0          1
Venkata Nageswararao Padavala 42831274            42855126           0.0          1
Xinlong Zhang                 42774122            42855126           0.0          1
primafyr                      42854803            42855126           0.0          1
yangfan peng                  42792948            42855126           0.0          1

                                                                                count  \
enemy_name                    enemy_submission_id main_submission_id is_strong
A.Ishibashi                   41939312            42855464           0.0            1
Flat Neurons                  42855126            42855126           0.0            1
                              42855464            42855464           0.0            1
GUOHAOYANG                    42651535            42855126           0.0            1
Gitanshu Vaghasiya            41745640            42855126           0.0            1
MonsterAgent                  42814989            42855126           0.0            1
Nicole                        42789445            42855464           0.0            1
SAND                          42855349            42855126           1.0            1
Stephen Murphy                41865510            42855464           0.0            1
Venkata Nageswararao Padavala 42831274            42855126           0.0            1
Xinlong Zhang                 42774122            42855126           0.0            1
primafyr                      42854803            42855126           0.0            1
yangfan peng                  42792948            42855126           0.0            1

                                                                                winrate
enemy_name                    enemy_submission_id main_submission_id is_strong
A.Ishibashi                   41939312            42855464           0.0          100.0
Flat Neurons                  42855126            42855126           0.0            0.0
                              42855464            42855464           0.0          100.0
GUOHAOYANG                    42651535            42855126           0.0          100.0
Gitanshu Vaghasiya            41745640            42855126           0.0          100.0
MonsterAgent                  42814989            42855126           0.0          100.0
Nicole                        42789445            42855464           0.0          100.0
SAND                          42855349            42855126           1.0          100.0
Stephen Murphy                41865510            42855464           0.0          100.0
Venkata Nageswararao Padavala 42831274            42855126           0.0          100.0
Xinlong Zhang                 42774122            42855126           0.0          100.0
primafyr                      42854803            42855126           0.0          100.0
yangfan peng                  42792948            42855126           0.0          100.0

**games against lyaguska with wins**

In [36]:
df = episodes_extended[(episodes_extended['enemy_name'] == 'Frog Parade') & (episodes_extended['main_win'] == 1)]
df

Empty DataFrame
Columns: [episode_id, enemy_submission_id, enemy_name, enemy_reward, main_reward, main_win, main_submission_id, main_name, main_player_id, enemy_player_id, energy_node_drift_magnitude, energy_node_drift_speed, nebula_tile_drift_speed, nebula_tile_energy_reduction, nebula_tile_vision_reduction, unit_energy_void_factor, unit_move_cost, unit_sap_cost, unit_sap_dropoff_factor, unit_sap_range, unit_sensor_range, is_strong]
Index: []

[0 rows x 22 columns]

**full winrate**

In [48]:
#df = episodes_extended[(episodes_extended['enemy_name'] == 'Frog Parade')]
df = get_episodes_extended('my')
grouped = df.groupby(['enemy_submission_id', 'enemy_name', 'is_strong'])['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped = grouped.sort_values(by=['enemy_name', 'winrate'])
grouped

,,,sum,count,winrate
enemy_submission_id,enemy_name,is_strong,,,
41939312,A.Ishibashi,0.0,1,1,100.0
42682596,BogdanNet,0.0,1,1,100.0
42855126,Flat Neurons,0.0,0,1,0.0
42855464,Flat Neurons,0.0,1,1,100.0
42651535,GUOHAOYANG,0.0,1,1,100.0
42657029,Gajus11,0.0,1,1,100.0
41745640,Gitanshu Vaghasiya,0.0,1,1,100.0
42814989,MonsterAgent,0.0,1,1,100.0
42789445,Nicole,0.0,1,1,100.0
42855349,SAND,1.0,1,1,100.0
41865510,Stephen Murphy,0.0,1,1,100.0
42831274,Venkata Nageswararao Padavala,0.0,1,1,100.0
42774122,Xinlong Zhang,0.0,1,1,100.0
42094868,Yersultan Abzhami,0.0,1,1,100.0
42812600,hayate_taf,0.0,1,1,100.0
42854803,primafyr,0.0,1,1,100.0
42792948,yangfan peng,0.0,1,1,100.0

**our strong games**

In [54]:
df = episodes_extended[(episodes_extended['is_strong'] == 1)]
df

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id,...,nebula_tile_drift_speed,nebula_tile_energy_reduction,nebula_tile_vision_reduction,unit_energy_void_factor,unit_move_cost,unit_sap_cost,unit_sap_dropoff_factor,unit_sap_range,unit_sensor_range,is_strong
7,67849026,42855349,SAND,0,5,1,42855126,Flat Neurons,1,0,...,0.025,5,1,0.125,5,38,1.0,7,2,1.0

**our games with frog, grouped by game params**

In [23]:
player_name = 'my'
episodes_extended = get_episodes_extended(player_name)

df = episodes_extended[(episodes_extended['enemy_name'] == 'Frog Parade')]
'''
group = ['enemy_submission_id', 'energy_node_drift_magnitude', 'energy_node_drift_speed',
               'nebula_tile_drift_speed', 'nebula_tile_energy_reduction',
               'nebula_tile_vision_reduction', 'unit_energy_void_factor',
               'unit_move_cost', 'unit_sap_cost', 'unit_sap_dropoff_factor', 'unit_sap_range', 'unit_sensor_range', 'is_strong']
'''
group = ['enemy_submission_id', 'unit_sap_range']
grouped = df.groupby(group)['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped = grouped.sort_values(by='winrate')
grouped

                                    sum  count    winrate
enemy_submission_id unit_sap_range
42613059            3                 9     55  16.363636
                    4                12     56  21.428571
                    7                15     69  21.739130
                    5                12     51  23.529412
42613183            5                29    102  28.431373
                    4                30     94  31.914894
                    3                28     84  33.333333
                    7                35     99  35.353535
42613059            6                25     63  39.682540
42613183            6                36     88  40.909091

# **Example 2: download data for games of 2 models to one file**

In [168]:
# our model id and random person model id
submission_ids = [42596204, 42639753]
player_name = 'submission_one_file'

for submission_id in submission_ids:
    episodes = request_episodes_list(submission_id)
    update_teams(episodes, player_name)
    new_episodes = update_episodes_list(episodes, submission_id, player_name)

In [169]:
player_name = 'submission_one_file'
teams = get_teams(player_name)
filtered_df = teams[(teams['team_id'] == 13082338)]
filtered_df

  team_name  submission_id                 submission_date   team_id
4      Boey       42639753  2025-01-31T23:13:23.796666700Z  13082338

In [170]:
player_name = 'submission_one_file'
episodes_list = get_episodes_list(player_name)

filtered_df = episodes_list[(episodes_list['main_submission_id'] == 42639753)]
filtered_df[:3]

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id
1,65713495,42613183,Frog Parade,4,1,0,42639753,Boey,1,0
3,65713501,42596204,Flat Neurons,3,2,0,42639753,Boey,1,0
5,65713936,42613059,Frog Parade,4,1,0,42639753,Boey,1,0
7,65713938,42613183,Frog Parade,4,1,0,42639753,Boey,1,0
9,65713944,42596204,Flat Neurons,3,2,0,42639753,Boey,1,0
...,...,...,...,...,...,...,...,...,...,...
1990,66081771,42613059,Frog Parade,3,2,0,42639753,Boey,1,0
1993,66082653,42613183,Frog Parade,3,2,0,42639753,Boey,1,0
1995,66083534,42596204,Flat Neurons,4,1,0,42639753,Boey,1,0
1997,66083980,42596204,Flat Neurons,3,2,0,42639753,Boey,1,0
1999,66084417,42596204,Flat Neurons,3,2,0,42639753,Boey,1,0

In [135]:
filtered_df = episodes_list[(episodes_list['main_submission_id'] == 42596204)]
filtered_df[:3]

,episode_id,enemy_submission_id,enemy_name,enemy_reward,main_reward,main_win,main_submission_id,main_name,main_player_id,enemy_player_id
0,65713495,42613183,Frog Parade,4,1,0,42596204,Flat Neurons,1,0
2,65713495,42613183,Frog Parade,4,1,0,42596204,Flat Neurons,1,0
3,65713501,42613183,Frog Parade,2,3,1,42596204,Flat Neurons,0,1
4,65713501,42613183,Frog Parade,2,3,1,42596204,Flat Neurons,0,1
6,65713936,42613059,Frog Parade,4,1,0,42596204,Flat Neurons,1,0
...,...,...,...,...,...,...,...,...,...,...
2993,66083534,42639753,Boey,1,4,1,42596204,Flat Neurons,0,1
2994,66083980,42589978,aDg4b,2,3,1,42596204,Flat Neurons,0,1
2995,66083980,42589978,aDg4b,2,3,1,42596204,Flat Neurons,0,1
2997,66084417,42613183,Frog Parade,2,3,1,42596204,Flat Neurons,0,1
2999,66084417,42613183,Frog Parade,2,3,1,42596204,Flat Neurons,0,1

# **Example 3: analyse frog games (played by last 2 models)**

In [41]:
# if you change src.py run this command for updating cached module
%run -i src.py

In [39]:
submission_ids = [42613183, 42613059]
player_name = 'frog'

for submission_id in submission_ids:
    episodes = request_episodes_list(submission_id)
    update_teams(episodes, player_name)
    new_episodes = update_episodes_list(episodes, submission_id, player_name)
    update_episodes_extended(new_episodes, player_name)

In [49]:
player_name = 'frog'
episodes_extended = get_episodes_extended(player_name)

df = episodes_extended[(episodes_extended['enemy_name'] != 'Frog Parade')]
grouped = df.groupby(['enemy_submission_id', 'enemy_name', 'main_submission_id'])['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped = grouped[(grouped['count'] > 3)]
grouped = grouped.sort_values(by=['count','enemy_name', 'enemy_submission_id', 'winrate'], ascending=False)
grouped

                                                     sum  count     winrate
enemy_submission_id enemy_name   main_submission_id
42596204            Flat Neurons 42613183            333    502   66.334661
                                 42613059            245    325   75.384615
42590069            aDg4b        42613183            107    109   98.165138
42639753            Boey         42613059             93    101   92.079208
42590069            aDg4b        42613059             99     99  100.000000
42589978            aDg4b        42613183             86     91   94.505495
42639753            Boey         42613183             75     84   89.285714
42589978            aDg4b        42613059             70     74   94.594595
42502906            ry_andy_     42613059             59     63   93.650794
                                 42613183             51     53   96.226415
42634240            ry_andy_     42613183             41     44   93.181818
                                 42613059             40     41   97.560976
42572328            OneUpKiwi    42613183             37     39   94.871795
                                 42613059             28     28  100.000000
42624927            SiestaGuru   42613059             26     26  100.000000
42609745            SiestaGuru   42613183             24     24  100.000000
42624927            SiestaGuru   42613183             21     21  100.000000
42609745            SiestaGuru   42613059             20     21   95.238095
42570117            ry_andy_     42613059             16     17   94.117647
42623660            Vadasz       42613183             12     13   92.307692
42630701            SiestaGuru   42613183             12     12  100.000000
42623660            Vadasz       42613059             11     11  100.000000
42623658            Vadasz       42613059              9     11   81.818182
42643960            SiestaGuru   42613183             11     11  100.000000
42630701            SiestaGuru   42613059             10     11   90.909091
42652762            OneUpKiwi    42613059             11     11  100.000000
42570117            ry_andy_     42613183              9     10   90.000000
42643960            SiestaGuru   42613059             10     10  100.000000
42609748            SiestaGuru   42613059             10     10  100.000000
42596072            wala         42613059              8      8  100.000000
42623658            Vadasz       42613183              8      8  100.000000
42639096            SiestaGuru   42613183              8      8  100.000000
42652762            OneUpKiwi    42613183              8      8  100.000000
42609289            Vadasz       42613059              7      7  100.000000
42609748            SiestaGuru   42613183              7      7  100.000000
42596072            wala         42613183              5      6   83.333333
42654058            SiestaGuru   42613059              6      6  100.000000
                                 42613183              5      6   83.333333
42609288            Vadasz       42613059              5      5  100.000000
42654225            SiestaGuru   42613183              4      5   80.000000
42609289            Vadasz       42613183              4      4  100.000000
42654225            SiestaGuru   42613059              4      4  100.000000
42639096            SiestaGuru   42613059              4      4  100.000000

In [10]:
submission_id = 42683570
player_name = 'adbg'

episodes = request_episodes_list(submission_id)
update_teams(episodes, player_name)
new_episodes = update_episodes_list(episodes, submission_id, player_name)
update_episodes_extended(new_episodes, player_name)

/Users/eyurkovsk/Downloads/lux-ai3/toad_fork/analytics/src.py:167: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.

In [14]:
player_name = 'adbg'
df = get_episodes_extended(player_name)
grouped = df.groupby(['enemy_submission_id', 'enemy_name'])['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped = grouped.sort_values(by=['enemy_name', 'winrate'])
grouped = grouped[(grouped['count'] > 3)]
grouped

                                     sum  count     winrate
enemy_submission_id enemy_name
42639753            Boey              40     48   83.333333
42639820            Boey              13     14   92.857143
42596204            Flat Neurons      38     75   50.666667
42613059            Frog Parade       12     50   24.000000
42613183            Frog Parade       20     48   41.666667
42680572            Gregor Lied        4      4  100.000000
42674181            Oleh Kuznetsov     4      4  100.000000
42690982            Oleh Kuznetsov     4      4  100.000000
42572328            OneUpKiwi         11     12   91.666667
42652762            OneUpKiwi         25     26   96.153846
42681005            SiestaGuru        10     12   83.333333
42681056            SiestaGuru        27     30   90.000000
42675361            Vadasz             7      7  100.000000
42691895            Vadasz             6      6  100.000000
42634240            ry_andy_          37     40   92.500000
42570117            ry_andy_          10     10  100.000000
42687518            tr                 6      8   75.000000
42684463            tr                 4      4  100.000000
42673616            wala               3      4   75.000000

In [ ]:
%run -i src.py
player_name = 'my'
episodes_list = get_episodes_list(player_name)
update_episodes_extended(episodes_list['episode_id'].to_list(), player_name)

In [37]:
player_name = 'adbg'
episodes_extended = get_episodes_extended(player_name)

df = episodes_extended[(episodes_extended['enemy_name'] == 'Flat Neurons')]
'''
group = ['enemy_submission_id', 'energy_node_drift_magnitude', 'energy_node_drift_speed',
               'nebula_tile_drift_speed', 'nebula_tile_energy_reduction',
               'nebula_tile_vision_reduction', 'unit_energy_void_factor',
               'unit_move_cost', 'unit_sap_cost', 'unit_sap_dropoff_factor', 'unit_sap_range', 'unit_sensor_range']
'''
group = ['unit_sap_range', 'unit_sensor_range']
grouped = df.groupby(group)['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped = grouped.sort_values(by=['unit_sap_range', 'unit_sensor_range'])
grouped

                                  sum  count     winrate
unit_sap_range unit_sensor_range
3              1                    2      3   66.666667
               2                    5      7   71.428571
               3                    3      4   75.000000
               4                    4      7   57.142857
4              2                    0      2    0.000000
               3                    1      2   50.000000
               4                    0      3    0.000000
5              1                    4      4  100.000000
               2                    2      4   50.000000
               3                    2      6   33.333333
               4                    2      6   33.333333
6              1                    3      5   60.000000
               2                    3      8   37.500000
               3                    1      1  100.000000
               4                    2      3   66.666667
7              1                    1      1  100.000000
               2                    1      2   50.000000
               3                    2      4   50.000000
               4                    0      3    0.000000

In [5]:
player_name = 'adbg'
episodes_extended = get_episodes_extended(player_name)

df = episodes_extended[(episodes_extended['enemy_name'] == 'Frog Parade') | (episodes_extended['enemy_name'] == 'Flat Neurons')]
'''
group = ['enemy_submission_id', 'energy_node_drift_magnitude', 'energy_node_drift_speed',
               'nebula_tile_drift_speed', 'nebula_tile_energy_reduction',
               'nebula_tile_vision_reduction', 'unit_energy_void_factor',
               'unit_move_cost', 'unit_sap_cost', 'unit_sap_dropoff_factor', 'unit_sap_range', 'unit_sensor_range']
'''
group = ['unit_sap_range', 'unit_sensor_range']
grouped = df.groupby(group)['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
grouped = grouped.sort_values(by=['winrate', 'unit_sap_range', 'unit_sensor_range'])
grouped

                                  sum  count    winrate
unit_sap_range unit_sensor_range
7              4                    0      9   0.000000
4              4                    2     10  20.000000
7              1                    1      5  20.000000
3              1                    2      8  25.000000
7              2                    3     10  30.000000
5              2                    4     12  33.333333
6              1                    4     11  36.363636
               2                    4     11  36.363636
4              2                    2      5  40.000000
5              4                    5     12  41.666667
3              3                    3      7  42.857143
7              3                    3      7  42.857143
5              3                    4      9  44.444444
3              2                    5     10  50.000000
4              1                    2      4  50.000000
6              4                    4      8  50.000000
4              3                    6     10  60.000000
5              1                    5      8  62.500000
3              4                    7     11  63.636364
6              3                    4      6  66.666667

In [35]:
player_name = 'adbg'
episodes_extended = get_episodes_extended(player_name)

df = episodes_extended[(episodes_extended['enemy_name'] == 'Flat Neurons') | (episodes_extended['enemy_submission_id'] == 42596204)]
'''
group = ['enemy_submission_id', 'energy_node_drift_magnitude', 'energy_node_drift_speed',
               'nebula_tile_drift_speed', 'nebula_tile_energy_reduction',
               'nebula_tile_vision_reduction', 'unit_energy_void_factor',
               'unit_move_cost', 'unit_sap_cost', 'unit_sap_dropoff_factor', 'unit_sap_range', 'unit_sensor_range']
'''
group = ['unit_sap_dropoff_factor', 'unit_sap_range', 'unit_sensor_range']
grouped = df.groupby(group)['main_win'].agg(['sum', 'count'])
grouped['winrate'] = (grouped['sum'] / grouped['count']) * 100
#grouped = grouped.sort_values(by=['unit_sap_range', 'unit_sensor_range'])
grouped = grouped.sort_values(by=['winrate','unit_sap_dropoff_factor', 'unit_sap_range', 'unit_sensor_range'])
grouped

                                                          sum  count  \
unit_sap_dropoff_factor unit_sap_range unit_sensor_range
0.25                    4              2                    0      1
                                       4                    0      1
                        5              3                    0      2
                        7              4                    0      2
0.50                    4              2                    0      1
                                       4                    0      2
                        6              1                    0      1
                                       2                    0      3
                                       4                    0      1
                        7              3                    0      2
                                       4                    0      1
1.00                    4              3                    0      1
                        5              4                    0      1
0.25                    5              2                    1      3
                                       4                    1      3
0.50                    3              4                    1      3
0.25                    3              1                    1      2
                                       3                    1      2
0.50                    3              2                    1      2
                        5              3                    1      2
                                       4                    1      2
                        7              2                    1      2
1.00                    5              3                    1      2
                        6              2                    3      5
                        3              2                    2      3
                        6              1                    2      3
                        3              4                    3      4
0.25                    3              2                    2      2
                        6              1                    1      1
                                       4                    2      2
0.50                    3              1                    1      1
                                       3                    1      1
                        4              3                    1      1
                        5              2                    1      1
                        7              1                    1      1
1.00                    3              3                    1      1
                        5              1                    4      4
                        6              3                    1      1
                        7              3                    2      2

                                                             winrate
unit_sap_dropoff_factor unit_sap_range unit_sensor_range
0.25                    4              2                    0.000000
                                       4                    0.000000
                        5              3                    0.000000
                        7              4                    0.000000
0.50                    4              2                    0.000000
                                       4                    0.000000
                        6              1                    0.000000
                                       2                    0.000000
                                       4                    0.000000
                        7              3                    0.000000
                                       4                    0.000000
1.00                    4              3                    0.000000
                        5              4                    0.000000
0.25                    5              2                   33.333333
                                       4                   33.333333
0.50                    3              4                   33.333333
0.25                    3              1                   50.000000
                                       3                   50.000000
0.50                    3              2                   50.000000
                        5              3                   50.000000
                                       4                   50.000000
                        7              2                   50.000000
1.00                    5              3                   50.000000
                        6              2                   60.000000
                        3              2                   66.666667
                        6              1                   66.666667
                        3              4                   75.000000
0.25                    3              2                  100.000000
                        6              1                  100.000000
                                       4                  100.000000
0.50                    3              1                  100.000000
                                       3                  100.000000
                        4              3                  100.000000
                        5              2                  100.000000
                        7              1                  100.000000
1.00                    3              3                  100.000000
                        5              1                  100.000000
                        6              3                  100.000000
                        7              3                  100.000000